[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExexStart=/home/ubuntu/venv/bin/uwsgi -i /srv/LikeLion/.config/uwsgi/kseProject.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target