<!-- 본인의 소개와 아이디어톤 서비스 소개 -->


{% extends 'main.html' %}

{% block title %}
    <title>introduce</title>
{% endblock %}

{% block extrahead %}
<style>
    body{
        background-color: rgb(255, 254, 243);
        color: rgb(18, 41, 76);
    }
</style>
    {% endblock %}

{% block content %}
    <h1>저의 소개입니다</h1>
    <p>귀여운 것을 좋아하는 사람!</p>
    <p>특히 고양이 강아지 햄스터 다람쥐를 좋아한다</p>
    <p>심심할땐 게임 방송을 틀어둔다</p>
    <p>체력이 없어서 잠을 많이 잔다</p>

    <br>
    <h1>아이디어톤 소개입니다</h1>
    <p>사람들의 일회용품 사용이 증가함에 따라 쓰레기가 많아졌고,</p>
    <p>쓰레기를 처리하면서 기후 위기가 더 가까워졌다.</p>
    <p>이에 몇몇 소비자들은 제로웨이스트를 실천하거나 업사이클링, 리사이클링 제품을 찾아서 구매하기도 한다. </p>
    <p>이런 제품들을 모아두는 서비스가 아직 존재하지 않아 아이디어톤에서 '쉽게(ez) eco-zone을 만들자'를 의미하는 e-z 서비스를 고안했다.</p>
{% endblock %}

